@import "normalize.css";
@import "isotope";
@import "grid-generator";

body {
  background: url(../images/retina_wood.png);
height: 100%;
}

::-webkit-scrollbar{width:12px;height:12px;}
::-webkit-scrollbar-button:start:decrement,&::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
::-webkit-scrollbar-track-piece{background-color:transparent;}
::-webkit-scrollbar-thumb:vertical, &::-webkit-scrollbar-thumb:horizontal{background-color:#E2E3D9;}

.clearfix { clear: both; }

.grid {
  padding: 12px;
  
  .c1, .c2, .c3, .c4 {
    float: left;
  }

  .panel-wrapper {
    margin: 12px;
    padding: 12px;
    overflow: auto;
    box-shadow: 0 1px 3px #59554E inset,
                0 1px 1px #F3F4E5;
    border-radius: 4px;
    background: rgba(177, 115, 47, 0.27);
  }

  .panel {
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0  1px 3px #F3F4E5 inset,
                0 -1px 1px #F3F4E5 inset,
                0  1px 1px #59554E;
    background: url(../images/leather_1.png);

    header, footer {
      text-align: center;
      padding: 2px 4px;
      height: 20px;
    }

    .content {
      overflow: auto;
    }
  }

  .c1 { .grid-generator-column(1); }
  .c2 { .grid-generator-column(2); }
  .c3 { .grid-generator-column(3); }
  .c4 { .grid-generator-column(4); }
  .c5 { .grid-generator-column(5); }

  .r1 { .grid-generator-row(1); }
  .r2 { .grid-generator-row(2); }
  .r3 { .grid-generator-row(3); }
  .r4 { .grid-generator-row(4); }
  .r5 { .grid-generator-row(5); }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (        min-device-pixel-ratio: 2) {
  body {
    background: url(../images/retina_wood@2x.png);
  }

  .grid {
    .panel {
      background: url(../images/leather_1@2x.png);
    }
  }
}
