@import "normalize.css";
html{background-color:#3F3F3F;color:#EFEFEF;font-family:Arial,Helvetica,sans-serif;}
body{width:1300px;height:780px;background-color:#1C1C1C;margin:35px auto;padding:25px;-moz-box-shadow:0 0 5px #2F2F2F;-webkit-box-shadow:0 0 5px #2F2F2F;box-shadow:0 0 5px #2F2F2F;}
#panels>section{-moz-box-shadow:0 0 8px #111;-webkit-box-shadow:0 0 8px #111;box-shadow:0 0 8px #111;-webkit-transition:box-shadow 0.5s ease-in;}
section.smbox{float:left;width:240px;height:240px;margin:10px;border-top:1px solid #363636;}
section.smbox>header{font-size:.8em;width:220px;height:16px ;padding:10px;background-color:#2C2C2C;border-bottom:1px solid #1C1C1C;}
section.smbox>div{width:220px;height:182px;padding:10px;background-color:#282828;border-top:1px solid #363636;}
section.bgbox{float:left;width:500px;height:500px;margin:10px;border-top:1px solid #363636;-moz-box-shadow:0 0 8px #111;-webkit-box-shadow:0 0 8px #111;box-shadow:0 0 8px #111;-webkit-transition:box-shadow 0.5s ease-in;}
section.bgbox>header{font-size:.8em;width:480px;height:16px ;padding:10px;background-color:#2C2C2C;border-bottom:1px solid #1C1C1C;}
section.bgbox>div{width:480px;height:443px;padding:10px;background-color:#282828;border-top:1px solid #363636;border-bottom:1px solid #1C1C1C;}
section.vidbox{float:left;width:760px;height:500px;margin:10px;border-top:1px solid #363636;-moz-box-shadow:0 0 8px #111;-webkit-box-shadow:0 0 8px #111;box-shadow:0 0 8px #111;-webkit-transition:box-shadow 0.5s ease-in;}
section.vidbox>header{font-size:.8em;width:740px;height:16px ;padding:10px;background-color:#2C2C2C;border-bottom:1px solid #1C1C1C;}
section.vidbox>div{width:740px;height:443px;padding:10px;background-color:#282828;border-top:1px solid #363636;border-bottom:1px solid #1C1C1C;}
section.mebox{float:left;width:500px;height:240px;margin:10px;border-top:1px solid #363636;-moz-box-shadow:0 0 8px #111;-webkit-box-shadow:0 0 8px #111;box-shadow:0 0 8px #111;-webkit-transition:box-shadow 0.5s ease-in;}
section.mebox>header{font-size:.8em;width:480px;height:16px ;padding:10px;background-color:#2C2C2C;border-bottom:1px solid #1C1C1C;}
section.mebox>div{width:480px;height:182px;padding:10px;background-color:#282828;border-top:1px solid #363636;border-bottom:1px solid #1C1C1C;}
section.lgbox{float:left;width:760px;height:240px;margin:10px;border-top:1px solid #363636;-moz-box-shadow:0 0 8px #111;-webkit-box-shadow:0 0 8px #111;box-shadow:0 0 8px #111;-webkit-transition:box-shadow 0.5s ease-in;}
section.lgbox>header{font-size:.8em;width:740px;height:16px ;padding:10px;background-color:#2C2C2C;border-bottom:1px solid #1C1C1C;}
section.lgbox>div{width:740px;height:182px;padding:10px;background-color:#282828;border-top:1px solid #363636;border-bottom:1px solid #1C1C1C;}
section.lgbox.chart>div>div{height:182px;}
div.clearrow{clear:both;height:0px;weight:0px;margin:0px;padding:0px;}
section>header>span,section>span{font-size:1.3em;}
span.ok{color:#669900;}
span.bad{color:#BB0000;}
span.alert{color:#FFCC00;}
section.bad{-moz-box-shadow:0 0 20px #F00;-webkit-box-shadow:0 0 20px #F00;box-shadow:0 0 20px #F00;-webkit-transition:box-shadow 0.5s ease-in;}
section:hover{-moz-box-shadow:0 0 8px #0066CC;-webkit-box-shadow:0 0 8px #0066CC;box-shadow:0 0 8px #0066CC;-webkit-transition:box-shadow 0.25s ease-in;}
