@import "normalize.css";
html{background-color:#3F3F3F;color:#EFEFEF;font-family:Arial,Helvetica,sans-serif;}
body{width:1300px;height:780px;background-color:#1C1C1C;margin:35px auto;padding:25px;-moz-box-shadow:0 0 5px #2F2F2F;-webkit-box-shadow:0 0 5px #2F2F2F;box-shadow:0 0 5px #2F2F2F;}
#panels>section{-moz-box-shadow:0 0 8px #111;-webkit-box-shadow:0 0 8px #111;box-shadow:0 0 8px #111;-webkit-transition:box-shadow 0.5s ease-in;}
section.panel{float:left;margin:10px;border-top:1px solid #363636;-moz-box-shadow:0 0 8px #111;-webkit-box-shadow:0 0 8px #111;box-shadow:0 0 8px #111;-webkit-transition:box-shadow 0.5s ease-in;}section.panel>div{background-color:#282828;padding:10px;}section.panel>div>div{overflow:auto;height:100%;}section.panel>div>div::-webkit-scrollbar{width:9px;height:9px;}
section.panel>div>div::-webkit-scrollbar-button:start:decrement,section.panel>div>div::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
section.panel>div>div::-webkit-scrollbar-track-piece{background-color:#2C2C2C;}
section.panel>div>div::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#363636;}
section.panel>div>div::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#363636;}
section.panel>div>div>ul{padding-left:24px;margin:0;}
section.panel>header,section.panel>footer{font-size:.8em;height:16px;padding:10px;background-color:#2C2C2C;}
section.panel>header,section.panel>div{border-bottom:1px solid #1C1C1C;}
section.panel>div,section.panel>footer{border-top:1px solid #363636;}
section.smbox{width:240px;height:240px;}section.smbox>header,section.smbox>div,section.smbox>footer{width:220px;}
section.smbox>div{height:144px;}
section.bgbox{width:500px;height:500px;}section.bgbox>header,section.bgbox>div,section.bgbox>footer{width:480px;}
section.bgbox>div{height:404px;}
section.vidbox{width:760px;height:500px;}section.vidbox>header,section.vidbox>div,section.vidbox>footer{width:740px;}
section.vidbox>div{height:404px;}
section.mebox{width:500px;height:240px;}section.mebox>header,section.mebox>div,section.mebox>footer{width:480px;}
section.mebox>div{height:144px;}
section.lgbox{width:760px;height:240px;}section.lgbox>header,section.lgbox>div,section.lgbox>footer{width:740px;}
section.lgbox>div{height:144px;}
div.clearrow{clear:both;height:0px;weight:0px;margin:0px;padding:0px;}
section>header>span,section>span{font-size:1.3em;}
span.ok{color:#669900;}
span.bad{color:#BB0000;}
span.alert{color:#FFCC00;}
section.bad{-moz-box-shadow:0 0 20px #F00;-webkit-box-shadow:0 0 20px #F00;box-shadow:0 0 20px #F00;-webkit-transition:box-shadow 0.5s ease-in;}
section:hover{-moz-box-shadow:0 0 8px #0066CC;-webkit-box-shadow:0 0 8px #0066CC;box-shadow:0 0 8px #0066CC;-webkit-transition:box-shadow 0.25s ease-in;}
a{color:#bbb;}
